@model IEnumerable<OBS_MVC.Models.ObsSinavTarih>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SinavTur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinavTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonemDers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SinavTur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinavTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonemDers.DonemDersId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SinavId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.SinavId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.SinavId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
