@model OBS_MVC.Models.ObsOgretimGorevlisi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ObsOgretimGorevlisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GirisTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GirisTarih)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CikisTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CikisTarih)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bolum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bolum.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kullanici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kullanici.KullaniciAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OgretimGorevlisiId">Düzenle</a> |
    <a asp-action="Index">Listeye dön</a>
</div>
