@model IEnumerable<OBS_MVC.Models.ObsDonem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonemTip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonemTip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonemId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.DonemId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.DonemId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
